body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(8,247,166);
    background: linear-gradient(90deg, rgba(8,247,166,1) 0%, rgba(114,43,231,1) 100%);
}
.container {
    background: lightgrey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input[type="number"] {
    width: 50px;
    margin: 10px 0;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}